h3 {
    font-size: 3rem ;
    font-style: bold ;
    font-family: "Bree Serif", serif;
    /* -webkit-text-stroke: 2px black; */
  }
  
  .slider .indicators .indicator-item.active {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  .nav-wrapper {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  .sidenav a {
    text-decoration: none;
  }
  
  .nav-wrapper > a {
    text-decoration: none;
    font-family: "Pacifico", cursive;
  }
  
  .nav-wrapper > a:hover {
    color: white;
  }
  
  .hvr-grow {
    text-decoration: none;
  }
  
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    text-decoration: none;
    color: white;
  }
  
  .header {
    padding: 20px;
    padding-bottom: 30px;
  }
  
  .carousel {
    height: 350px ;
  }
  
  .page-footer {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
  }
  
  .parallax-container {
    min-height: 420px;
    height: auto;
  }
  
  .icon-coffee {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  hr {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 10px;
  
    border: none;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  @media (max-width: 992px) {
    .nav-wrapper > a:hover {
      color: black;
    }
  
    .carousel {
      height: 150px ;
    }
  }
  
  @media (min-width: 992px) {
    .nav-wrapper > a {
      padding-left: 35px;
    }
  
    .caption {
      margin-top: 50px ;
    }
  }
  